*, :after, :before, ::backdrop {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

::file-selector-button {
  box-sizing: border-box;
  border: 0 solid;
  margin: 0;
  padding: 0;
}

html, :host {
  -webkit-text-size-adjust: 100%;
  tab-size: 4;
  line-height: 1.5;
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-feature-settings: normal;
  font-variation-settings: normal;
  -webkit-tap-highlight-color: transparent;
}

body {
  line-height: inherit;
}

hr {
  height: 0;
  color: inherit;
  border-top-width: 1px;
}

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

a {
  color: inherit;
  -webkit-text-decoration: inherit;
  -webkit-text-decoration: inherit;
  text-decoration: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp, pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub, sup {
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  text-indent: 0;
  border-color: inherit;
  border-collapse: collapse;
}

:-moz-focusring {
  outline: auto;
}

progress {
  vertical-align: baseline;
}

summary {
  display: list-item;
}

ol, ul, menu {
  list-style: none;
}

img, svg, video, canvas, audio, iframe, embed, object {
  vertical-align: middle;
  display: block;
}

img, video {
  max-width: 100%;
  height: auto;
}

button, input, select, optgroup, textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: #0000;
  border-radius: 0;
}

::file-selector-button {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  opacity: 1;
  background-color: #0000;
  border-radius: 0;
}

:where(select:is([multiple], [size])) optgroup {
  font-weight: bolder;
}

:where(select:is([multiple], [size])) optgroup option {
  padding-inline-start: 20px;
}

::file-selector-button {
  margin-inline-end: 4px;
}

::placeholder {
  opacity: 1;
  color: currentColor;
}

textarea {
  resize: vertical;
}

::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-date-and-time-value {
  min-height: 1lh;
  text-align: inherit;
}

::-webkit-datetime-edit {
  display: inline-flex;
}

::-webkit-datetime-edit-fields-wrapper {
  padding: 0;
}

::-webkit-datetime-edit {
  padding-block: 0;
}

::-webkit-datetime-edit-year-field {
  padding-block: 0;
}

::-webkit-datetime-edit-month-field {
  padding-block: 0;
}

::-webkit-datetime-edit-day-field {
  padding-block: 0;
}

::-webkit-datetime-edit-hour-field {
  padding-block: 0;
}

::-webkit-datetime-edit-minute-field {
  padding-block: 0;
}

::-webkit-datetime-edit-second-field {
  padding-block: 0;
}

::-webkit-datetime-edit-millisecond-field {
  padding-block: 0;
}

::-webkit-datetime-edit-meridiem-field {
  padding-block: 0;
}

:-moz-ui-invalid {
  box-shadow: none;
}

button, input:where([type="button"], [type="reset"], [type="submit"]) {
  appearance: button;
}

::file-selector-button {
  appearance: button;
}

::-webkit-inner-spin-button {
  height: auto;
}

::-webkit-outer-spin-button {
  height: auto;
}

[hidden]:where(:not([hidden="until-found"])) {
  display: none !important;
}

* {
  border-color: oklch(.861 0 0);
  outline-color: oklch(.111 0 0);
}

* {
  border-color: oklch(.861 0 0);
  outline-color: oklch(.111 0 0);
}

body {
  background-color: oklch(.985 0 0);
  color: oklch(.111 0 0);
}

:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) h1 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.5;
}

:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) h2 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.5;
}

:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) h3 {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5;
}

:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) h4 {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) label, :where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) button {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}

:where(:not(:has([class*=" text-"]), :not(:has([class^="text-"])))) input {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0rem;
}

.top-0 {
  top: 0rem;
}

.top-1\/2 {
  top: 50%;
}

.top-10 {
  top: 2.5rem;
}

.top-20 {
  top: 5rem;
}

.-right-3 {
  right: -0.75rem;
}

.-right-6 {
  right: -1.5rem;
}

.right-0 {
  right: 0rem;
}

.right-8 {
  right: 2rem;
}

.right-10 {
  right: 2.5rem;
}

.right-20 {
  right: 5rem;
}

.-bottom-6 {
  bottom: -1.5rem;
}

.bottom-0 {
  bottom: 0rem;
}

.bottom-8 {
  bottom: 2rem;
}

.bottom-10 {
  bottom: 2.5rem;
}

.bottom-20 {
  bottom: 5rem;
}

.-left-6 {
  left: -1.5rem;
}

.left-0 {
  left: 0rem;
}

.left-1\/4 {
  left: 25%;
}

.left-8 {
  left: 2rem;
}

.left-10 {
  left: 2.5rem;
}

.left-20 {
  left: 5rem;
}

.-z-10 {
  z-index: -10;
}

.z-10 {
  z-index: 10;
}

.z-50 {
  z-index: 50;
}

.mx-auto {
  margin-inline: auto;
}

.mt-0\.5 {
  margin-top: 0.125rem;
}

.mt-1 {
  margin-top: 0.25rem;
}

.mt-6 {
  margin-top: 1.5rem;
}

.mt-8 {
  margin-top: 2rem;
}

.mr-2 {
  margin-right: 0.5rem;
}

.mb-1 {
  margin-bottom: 0.25rem;
}

.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-3 {
  margin-bottom: 0.75rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-6 {
  margin-bottom: 1.5rem;
}

.mb-8 {
  margin-bottom: 2rem;
}

.mb-12 {
  margin-bottom: 3rem;
}

.mb-16 {
  margin-bottom: 4rem;
}

.mb-20 {
  margin-bottom: 5rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.field-sizing-content {
  field-sizing: content;
}

.size-4 {
  width: 1rem;
  height: 1rem;
}

.size-9 {
  width: 2.25rem;
  height: 2.25rem;
}

.h-1 {
  height: 0.25rem;
}

.h-1\.5 {
  height: 0.375rem;
}

.h-4 {
  height: 1rem;
}

.h-5 {
  height: 1.25rem;
}

.h-6 {
  height: 1.5rem;
}

.h-7 {
  height: 1.75rem;
}

.h-8 {
  height: 2rem;
}

.h-9 {
  height: 2.25rem;
}

.h-10 {
  height: 2.5rem;
}

.h-12 {
  height: 3rem;
}

.h-14 {
  height: 3.5rem;
}

.h-16 {
  height: 4rem;
}

.h-20 {
  height: 5rem;
}

.h-24 {
  height: 6rem;
}

.h-40 {
  height: 10rem;
}

.h-48 {
  height: 12rem;
}

.h-64 {
  height: 16rem;
}

.h-72 {
  height: 18rem;
}

.h-80 {
  height: 20rem;
}

.h-96 {
  height: 24rem;
}

.h-\[400px\] {
  height: 400px;
}

.h-\[500px\] {
  height: 500px;
}

.h-auto {
  height: auto;
}

.h-full {
  height: 100%;
}

.min-h-16 {
  min-height: 4rem;
}

.min-h-\[400px\] {
  min-height: 400px;
}

.min-h-screen {
  min-height: 100vh;
}

.w-1\.5 {
  width: 0.375rem;
}

.w-4 {
  width: 1rem;
}

.w-5 {
  width: 1.25rem;
}

.w-6 {
  width: 1.5rem;
}

.w-7 {
  width: 1.75rem;
}

.w-8 {
  width: 2rem;
}

.w-10 {
  width: 2.5rem;
}

.w-12 {
  width: 3rem;
}

.w-14 {
  width: 3.5rem;
}

.w-16 {
  width: 4rem;
}

.w-24 {
  width: 6rem;
}

.w-40 {
  width: 10rem;
}

.w-48 {
  width: 12rem;
}

.w-64 {
  width: 16rem;
}

.w-72 {
  width: 18rem;
}

.w-80 {
  width: 20rem;
}

.w-96 {
  width: 24rem;
}

.w-full {
  width: 100%;
}

.max-w-2xl {
  max-width: 42rem;
}

.max-w-3xl {
  max-width: 48rem;
}

.max-w-4xl {
  max-width: 56rem;
}

.max-w-7xl {
  max-width: 80rem;
}

.min-w-0 {
  min-width: 0rem;
}

.flex-1 {
  flex: 1;
}

.flex-shrink-0, .shrink-0 {
  flex-shrink: 0;
}

.-translate-y-1\/2 {
  transform: translate(0, -50%);
}

.cursor-pointer {
  cursor: pointer;
}

.resize-none {
  resize: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.items-center {
  align-items: center;
}

.items-start {
  align-items: flex-start;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.gap-1\.5 {
  gap: 0.375rem;
}

.gap-2 {
  gap: 0.5rem;
}

.gap-3 {
  gap: 0.75rem;
}

.gap-4 {
  gap: 1rem;
}

.gap-6 {
  gap: 1.5rem;
}

.gap-8 {
  gap: 2rem;
}

.gap-12 {
  gap: 3rem;
}

:where(.space-y-1 > :not(:last-child)) {
  margin-block-start: 0;
  margin-block-end: 0.25rem;
}

:where(.space-y-2 > :not(:last-child)) {
  margin-block-start: 0;
  margin-block-end: 0.5rem;
}

:where(.space-y-3 > :not(:last-child)) {
  margin-block-start: 0;
  margin-block-end: 0.75rem;
}

:where(.space-y-4 > :not(:last-child)) {
  margin-block-start: 0;
  margin-block-end: 1rem;
}

:where(.space-y-6 > :not(:last-child)) {
  margin-block-start: 0;
  margin-block-end: 1.5rem;
}

:where(.space-y-8 > :not(:last-child)) {
  margin-block-start: 0;
  margin-block-end: 2rem;
}

.overflow-hidden {
  overflow: hidden;
}

.rounded-2xl {
  border-radius: 1rem;
}

.rounded-3xl {
  border-radius: 1.5rem;
}

.rounded-full {
  border-radius: 3.40282e38px;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.rounded-md {
  border-radius: calc(0.5rem - 2px);
}

.rounded-xl {
  border-radius: calc(0.5rem + 4px);
}

.border {
  border-style: solid;
  border-width: 1px;
}

.border-2 {
  border-style: solid;
  border-width: 2px;
}

.border-t {
  border-top-style: solid;
  border-top-width: 1px;
}

.border-b {
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.border-emerald-600 {
  border-color: oklch(.596 .145 163.225);
}

.border-gray-100 {
  border-color: oklch(.967 .003 264.542);
}

.border-gray-200 {
  border-color: oklch(.928 .006 264.531);
}

.border-gray-300 {
  border-color: oklch(.872 .01 258.338);
}

.border-gray-700 {
  border-color: oklch(.373 .034 259.733);
}

.border-gray-800 {
  border-color: oklch(.278 .033 256.848);
}

.border-input {
  border-color: oklch(.861 0 0);
}

.border-teal-100 {
  border-color: oklch(.953 .051 180.801);
}

.border-teal-200 {
  border-color: oklch(.91 .096 180.426);
}

.border-teal-400 {
  border-color: oklch(.777 .152 181.912);
}

.border-teal-600 {
  border-color: oklch(.6 .118 184.704);
}

.border-white {
  border-color: #fff;
}

.bg-background {
  background-color: oklch(.985 0 0);
}

.bg-blue-200 {
  background-color: oklch(.882 .059 254.128);
}

.bg-destructive {
  background-color: oklch(.637 .237 25.331);
}

.bg-emerald-200 {
  background-color: oklch(.905 .093 164.15);
}

.bg-emerald-400 {
  background-color: oklch(.765 .177 163.223);
}

.bg-gray-100 {
  background-color: oklch(.967 .003 264.542);
}

.bg-gray-800 {
  background-color: oklch(.278 .033 256.848);
}

.bg-input-background {
  background-color: oklch(.861 0 0);
}

.bg-primary {
  background-color: oklch(.488 .243 264.376);
}

.bg-secondary {
  background-color: oklch(.941 0 0);
}

.bg-teal-100 {
  background-color: oklch(.953 .051 180.801);
}

.bg-teal-200 {
  background-color: oklch(.91 .096 180.426);
}

.bg-teal-500 {
  background-color: oklch(.704 .14 182.503);
}

.bg-white {
  background-color: #fff;
}

.font-medium {
  font-weight: 500;
}

.tracking-wider {
  letter-spacing: 0.05em;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.text-emerald-600 {
  color: oklch(.596 .145 163.225);
}

.text-emerald-900 {
  color: oklch(.378 .077 168.94);
}

.text-foreground {
  color: oklch(.111 0 0);
}

.text-gray-300 {
  color: oklch(.872 .01 258.338);
}

.text-gray-400 {
  color: oklch(.707 .022 261.325);
}

.text-gray-500 {
  color: oklch(.551 .027 264.364);
}

.text-gray-600 {
  color: oklch(.446 .03 256.802);
}

.text-gray-700 {
  color: oklch(.373 .034 259.733);
}

.text-gray-900 {
  color: oklch(.21 .034 264.665);
}

.text-primary {
  color: oklch(.488 .243 264.376);
}

.text-primary-foreground {
  color: oklch(.985 0 0);
}

.text-secondary-foreground {
  color: oklch(.269 0 0);
}

.text-teal-50 {
  color: oklch(.984 .014 180.72);
}

.text-teal-100 {
  color: oklch(.953 .051 180.801);
}

.text-teal-300 {
  color: oklch(.855 .138 181.071);
}

.text-teal-400 {
  color: oklch(.777 .152 181.912);
}

.text-teal-600 {
  color: oklch(.6 .118 184.704);
}

.text-teal-700 {
  color: oklch(.511 .096 186.391);
}

.text-white {
  color: #fff;
}

.uppercase {
  text-transform: uppercase;
}

.underline-offset-4 {
  text-underline-offset: 4px;
}

.opacity-5 {
  opacity: 0.05;
}

.opacity-10 {
  opacity: 0.1;
}

.opacity-20 {
  opacity: 0.2;
}

.opacity-50 {
  opacity: 0.5;
}

.shadow-2xl {
  box-shadow: 0 25px 50px -12px #00000040;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -4px #0000001a;
}

.shadow-md {
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
}

.shadow-xl {
  box-shadow: 0 20px 25px -5px #0000001a, 0 8px 10px -6px #0000001a;
}

.shadow-none {
  box-shadow: none;
}

.transition {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, box-shadow, transform, translate, scale, rotate, opacity, backdrop-filter;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 0.15s;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 0.15s;
}

.transition-colors {
  transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 0.15s;
}

.transition-shadow {
  transition-property: box-shadow;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 0.15s;
}

.transition-transform {
  transition-property: transform, translate, scale, rotate;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: 0.15s;
}

.duration-300 {
  transition-duration: 0.3s;
}

.outline-none {
  outline-style: none;
}

@media (hover: hover) {
  .group-hover\:translate-x-1:is(:where(.group):hover *) {
    transform: translate(0.25rem, 0);
  }
}

@media (hover: hover) {
  .group-hover\:scale-105:is(:where(.group):hover *) {
    transform: scale(105%, 105%);
  }
}

@media (hover: hover) {
  .group-hover\:scale-110:is(:where(.group):hover *) {
    transform: scale(110%, 110%);
  }
}

.selection\:bg-primary ::selection, .selection\:bg-primary::selection {
  background-color: oklch(.488 .243 264.376);
}

.selection\:text-primary-foreground ::selection, .selection\:text-primary-foreground::selection {
  color: oklch(.985 0 0);
}

.file\:inline-flex::file-selector-button {
  display: inline-flex;
}

.file\:h-7::file-selector-button {
  height: 1.75rem;
}

.file\:border-0::file-selector-button {
  border-style: solid;
  border-width: 0;
}

.file\:bg-transparent::file-selector-button {
  background-color: #0000;
}

.file\:text-sm::file-selector-button {
  font-size: 0.875rem;
  line-height: 1.42857143;
}

.file\:font-medium::file-selector-button {
  font-weight: 500;
}

.hover\:border-input:hover {
  border-color: oklch(.861 0 0);
}

.hover\:border-white\/10:hover {
  border-color: #ffffff1a;
}

.hover\:border-white\/20:hover {
  border-color: #fff3;
}

.hover\:bg-accent:hover {
  background-color: oklch(.941 0 0);
}

.hover\:bg-background:hover {
  background-color: oklch(.985 0 0);
}

.hover\:bg-input-background:hover {
  background-color: oklch(.861 0 0);
}

.hover\:bg-primary:hover {
  background-color: oklch(.488 .243 264.376);
}

.hover\:bg-secondary:hover {
  background-color: oklch(.941 0 0);
}

.hover\:bg-white\/10:hover {
  background-color: #ffffff1a;
}

.hover\:bg-white\/20:hover {
  background-color: #fff3;
}

.hover\:bg-white\/30:hover {
  background-color: #ffffff4d;
}

.hover\:text-gray-700:hover {
  color: oklch(.373 .034 259.733);
}

.hover\:text-primary:hover {
  color: oklch(.488 .243 264.376);
}

.hover\:text-secondary-foreground:hover {
  color: oklch(.269 0 0);
}

.hover\:text-teal-400:hover {
  color: oklch(.777 .152 181.912);
}

.hover\:text-white:hover {
  color: #fff;
}

.hover\:shadow-md:hover {
  box-shadow: 0 4px 6px -1px #0000001a, 0 2px 4px -2px #0000001a;
}

.focus-visible\:outline:focus-visible {
  outline-style: solid;
}

.focus-visible\:ring:focus-visible {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px oklch(.111 0 0), 0 0 #0000;
}

.focus-visible\:ring-destructive\/20:focus-visible {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px oklch(.637 .237 25.331), 0 0 #0000;
}

.focus-visible\:ring-ring\/50:focus-visible {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px oklch(.111 0 0), 0 0 #0000;
}

.disabled\:pointer-events-none:disabled {
  pointer-events: none;
}

.disabled\:cursor-not-allowed:disabled {
  cursor: not-allowed;
}

.disabled\:opacity-50:disabled {
  opacity: 0.5;
}

.has-\[\>svg\]\:px-2\.5:has( > svg) {
  padding-inline: 0.625rem;
}

.has-\[\>svg\]\:px-3:has( > svg) {
  padding-inline: 0.75rem;
}

.has-\[\>svg\]\:px-4:has( > svg) {
  padding-inline: 1rem;
}

.aria-invalid\:border-destructive[aria-invalid="true"] {
  border-color: oklch(.637 .237 25.331);
}

.aria-invalid\:ring-destructive\/20[aria-invalid="true"] {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px oklch(.637 .237 25.331), 0 0 #0000;
}

@media (width >= 40rem) {
  .sm\:flex-row {
    flex-direction: row;
  }
}

@media (width >= 40rem) {
  .sm\:px-6 {
    padding-inline: 1.5rem;
  }
}

@media (width >= 48rem) {
  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (width >= 48rem) {
  .md\:flex-row {
    flex-direction: row;
  }
}

@media (width >= 48rem) {
  .md\:text-left {
    text-align: left;
  }
}

@media (width >= 48rem) {
  .md\:px-4 {
    padding-inline: 1rem;
  }
}

@media (width >= 48rem) {
  .md\:px-6 {
    padding-inline: 1.5rem;
  }
}

@media (width >= 64rem) {
  .lg\:px-8 {
    padding-inline: 2rem;
  }
}

.dark\:border-input:is(.dark *) {
  border-color: oklch(.269 0 0);
}

.dark\:bg-destructive\/60:is(.dark *) {
  background-color: oklch(.396 .141 25.723);
}

.dark\:bg-input\/30:is(.dark *) {
  background-color: oklch(.269 0 0);
}

@media (hover: hover) {
  .dark\:hover\:bg-accent\/50:is(.dark *):hover {
    background-color: oklch(.269 0 0);
  }
}

@media (hover: hover) {
  .dark\:hover\:bg-input\/50:is(.dark *):hover {
    background-color: oklch(.269 0 0);
  }
}

.dark\:focus-visible\:ring-destructive\/40:is(.dark *):focus-visible {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px oklch(.396 .141 25.723), 0 0 #0000;
}

.dark\:aria-invalid\:ring-destructive\/40:is(.dark *)[aria-invalid="true"] {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px oklch(.396 .141 25.723), 0 0 #0000;
}

html {
  font-size: 16px;
}